@charset "UTF-8";

.section-box {
  height: 100%;
}

.radius-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.reverseView {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.header {
  background-color: #3F51B5;
}

.header__title {
  color: #ffffff;
  text-shadow: 1px -1px 0 rgba(0,0,0,.5);
  padding: .5rem 1rem;
}

.create-room {
  padding-top: 20%;
}

.create-room__desc {
  font-size: .8rem;
}

.msgField {
  overflow-wrap: break-word;
  overflow-y: auto;
  height: 70vh;
}

.msgbox {
  border-bottom: solid 1px #cccccc;
  padding-bottom: 5px;
}

.msgFormLayout {
  position: fixed;
  bottom: 5px;
  width: 90%;
}

.msginput {
  resize: none;
  min-height: 40px !important;
  width: 90%;
  padding: .5rem 1rem;
}

.fcol-8 {
  flex: 8;
}

.btn.my-btn-small {
  width: 15%;
  min-width: 70px;
  font-size: .8rem;
  padding: 10px 20px;
  flex: 1;
}

.absolute {
  position: absolute !important;
}

.flexbox {
  display: flex;
}

.errorContent {
  flex-direction: column;
  /*中央寄せ*/
  align-items: center;
  justify-content: center;
}

.align-flexend {
  align-items: flex-end;
}

ul li {
  list-style-type: none;
}

@media screen and (min-width: 970px){
  .msgField {
    height: 80vh;
  }
}