<!DOCTYPE html>
<html ng-app="chatapp">
<head lang="en">
  <meta charset="UTF-8">
  <title>ChatApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <link rel="stylesheet" href="/skyblue/css/skyblue.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div ng-controller="chatController" ng-class="{'reverseView': reverseFlag}">
  <header class="header">
    <h1 class="header__title">ChatApp</h1>
  </header>
  <div class="container">
    <div>
      <div ng-hide="username" class="create-room text-center">
        <h2 class="col xs-12">User Name</h2>
        <p class="col xs-12 create-room__desc">{{userNameFormDesc}}</p>
        <form ng-submit="decisionUserName()">
          <input type="text" placeholder="input your name" ng-model="userNameFormTxt" ng-change="userNameFormChanged()" class="form-control text-center" ng-class="(userNameIsError) ? 'error' : 'success'"/>
          <button type="submit" class="btn" ng-disabled="userNameIsError" ng-class="{'btn-light': userNameIsError}">決定!</button>
        </form>
      </div>
      <div ng-if="!!username">
        <div class="msgField row">
          <ul>
            <li ng-repeat="msg in messages">
              <p class="col xs-12 msgbox"><span ng-bind="msg.username"></span>: <span ng-bind-html="msg.body"></span></p>
            </li>
          </ul>
        </div>
        <div class="msgFormLayout">
          <form ng-keydown="formKeydownSubmit($event)" ng-submit="msgSubmit()" class="flexbox align-flexend">
            <div class="fcol-8">
              <textarea ng-model="$parent.msgFormText" class="msginput"></textarea>
            </div>
            <button type="submit" class="btn my-btn-small">送信</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/dest/js/bundle.js"></script>
</body>
</html>