<!DOCTYPE html>
<html ng-app="chatapp">
<head lang="ja">
  <meta charset="UTF-8">
  <title>ChatApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <link rel="stylesheet" href="/skyblue/css/skyblue.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="section-box" ng-controller="roomController">
  <header class="header">
    <h1 class="header__title">ChatApp</h1>
  </header>
  <div class="container">
    <section class="row text-center create-room">
      <h2 class="col xs-12">Room作成</h2>
      <div ng-hide="roomUrl">
        <p class="col xs-12 create-room__desc" ng-class="{'color-error': formError}">{{formMessage}}</p>

        <form class="col xs-12" ng-submit="createRoom()">
          <div>
            <input type="text" class="form-control" ng-model="createRoomFormText"/>
            <button class="btn">作る！</button>
          </div>
        </form>
      </div>
      <div ng-show="roomUrl">
        <p>http:{{roomUrl}}</p>
        <a href="{{roomUrl}}">jamp!→</a>
      </div>
    </section>
  </div>
</div>
<script src="/dest/js/bundle.js"></script>
</body>
</html>